*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    color: #07999d;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: normal;
}
header{
    display: flex;
    width: 100vw;
    min-height: 90%;
    margin: auto;
    align-items: center;
    section.logo{
        flex:2;
        display: flex;
        align-items: center;
        h1{
            cursor:pointer;
            color: #000;
        }
        img{
            width: 5vw;
            height: 5vw;
        }
    }
    section.nav{
        flex:1;
        ul{
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            li{
                a{
                    text-decoration: none;
                }
            }
            li:hover{
                a{
                    color: #0bd6dd;
                }
            }
        }
    }
}
@media screen and (max-width:500px){
    header{
        section.logo{
            img{
                background-color: #07999d;
                width: 100vw;
                height: 10vw;
                padding: 0.5rem 0.5rem;
            }
            h1{
                display: none;
            }
        }
        flex-direction: column;
        section.nav{
            width: 100vw;
            justify-content: space-around;
            font-size: 1rem;
        }
    }
}
main{
    section.bgImg{
        width: 100vw;
        height: 90vh;
        background-image: url(../img/travel000.jpg);
        background-position: center center;
        background-size: cover;
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        section.filter{
            position: absolute;
            z-index: -1;
            height: 90vh;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
        p{
            font-size: 3.5rem;
            color: white;
        }
        button.start{
            background-color: #07999d;
            color: white;
            font-size: 1rem;
            padding: 0.5rem 1.5rem;
            border-radius: 3%;
            border: 0px ; 
            margin-top: 1rem;
        }
        button.start:hover{
            background-color: #0bd6dd;
            box-shadow: 1px 1px 2px 1px #043636;
        }
    }
    section.second{
        margin-top: 1rem;
        text-align: center;
        p{
            font-size: 2.5rem;
            color: #000;
        }
        width: 100vw;
        height:100%;
        section.cards{
            padding: 2rem 2rem;
            display: flex;
            section.card{
                height: 50vw;
                margin: 0rem 2.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                img{
                    width: 20vw;
                    border-radius: 50%;
                }
                h4{
                    font-size: 2rem;
                    font-weight: 600;
                }
                p{
                    font-size: 1rem;
                }
                a{
                    background-color: #07999d;
                    color: white;
                    text-decoration: none;
                    padding: 1rem 1rem;
                }
                a:hover{
                    background-color: #0bd6dd;
                }
            }
        }
    }
}
@media screen and (max-width:500px){
    main{
        section.bgImg{
            p{
                font-size: 2.5rem;
            }
            button.start{
                font-size: 2rem;
            }
        }
        section.second{
            section.cards{
                flex-wrap: wrap;
                section.card{
                    height:100vh;
                    margin-bottom: 3rem;
                    img{
                        width: 50vw;
                        margin-bottom: 1rem;
                    }
                    p{
                        margin: 1.5rem;
                    }
                    a{
                        font-size: 2rem;
                    }

                }
            }
        }
    }
}
footer{
    background-color: rgb(212, 212, 212);
    height: 250px;
    section{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        height: 230px;
        justify-content: space-around;
        section.logo{
            width: 30%;
            display: flex;
            // flex-direction: row;
            align-self: center;
            align-items: center;
            font-size: 1.4rem;
            img{
                width: 5vw;
            }
            h1{
                color: #000;
            }
        }
        section.nav{
            width: 30%;
            align-self: center;
            ul{
                display: flex;
                justify-content: space-around;
                list-style-type: none;
                li{
                    a{
                        color: white;
                        font-weight: 600;
                        text-decoration: none;
                    }
                    a:hover{
                        color: rgb(124, 124, 124);
                    }
                }
            }
        }  
        section.links{
            width: 20%;
            align-self: center;
            ul{
                display: flex;
                justify-content: space-around;
                li{
                    list-style-type: none;
                    a{
                        img{
                            width: 3vw;
                        }
                    }
                }
            }
        }      
    }

}

@media screen and (max-width:500px){
    footer{
        height: 10vw;
        section{
            height: 0;
            margin-top: 0;
            justify-content:unset;
            section.logo{
                display: none;
            }
            section.nav{
                display: none;
            }
            section.links{
                width: 100vw;
                ul{
                    margin-top: 2vw;
                    li{
                        list-style-type: none;
                        a{
                            img{
                                width: 6vw;
                            }
                        }
                    }
                }
            }
        }
    }
}